@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    display: none;
}

html {
    scroll-behavior: smooth;
  }

body {
    font-family: 'Raleway Variable', sans-serif, system-ui;
    background: #0C0C0C;
    scroll-behavior: smooth;
  }
